name: Detection as Code Pipeline

on:
  push:
    branches:
      - main

jobs:
  translate-and-deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'

      - name: Install Sigma CLI
        run: |
          pip install sigma-cli
          sigma plugin install elasticsearch
          
      - name: Translate Sigma to Kibana Format
        run: |
          # We point sigma convert at the 'rules/' directory.
          # It will automatically find and convert EVERY .yml rule inside it!
          sigma convert -t lucene -f kibana_ndjson rules/ -o kibana_alerts.ndjson
          
      - name: Deploy to Elastic Cloud (Production)
        env:
          ELASTIC_URL: ${{ secrets.ELASTIC_URL }}
          ELASTIC_API_KEY: ${{ secrets.ELASTIC_API_KEY }}
        run: |
          echo "Deploying rule to production ELK..."
          curl -X POST "$ELASTIC_URL/api/saved_objects/_import" \
          -H "kbn-xsrf: true" \
          -H "Authorization: ApiKey $ELASTIC_API_KEY" \
          --form file=@kibana_alerts.ndjson
